

header {
  background-image: url("../img/background.png");
  position: relative;
  color: white;
  line-height: 8em;
}

header .logo {
  /*padding: 2em 0 2em 0;*/
}

.header-element a {
  margin-left: 1em;
}

.hero-unit {
  width: 100%;
}

.hero-image {
  float: right;
  max-height: 25em;
}

.feature-image {
  float: left;
  margin-right: 20px;
  margin-left: -10px;
}

.feature-list li {
  margin-bottom: 1em;
}

.section-label {
  text-align: center;
  margin-bottom: 0.75em;
}

.download-link p {
  font-size: 110%;
  text-align: center;
}

.goal-header {
  font-weight: bold;
  font-size: 110%;
}

.project-goal {
  margin-top: 1em;
}

.thumbnail {
  border: none;
  margin-top: 0.75em;
}

.demo-spiel {
  text-align: left;
}